{% extends "base.html"%} {% block content %}
<article class="post">
  <section class="post-info">
    {% if page.extra.author -%}
    <span>Written by</span> {{ page.extra.author }}<br />
    {% elif config.extra.author -%}
    <span>Written by</span> {{ config.extra.author }}<br />
    {%- endif %}
    <span>on&nbsp;</span
    ><time datetime="{{ page.date }}"
      >{{ page.date | date(format=config.extra.timeformat | default(value="%B
      %e, %Y"))}}</time
    >
  </section>
  <h1 class="post-title">{{ page.title }}</h1>
  <section class="post-line"></section>
  {{ page.content | safe }}
</article>

<section class="pagination">
  {% if page.higher -%}
  <a href="{{ page.higher.permalink | safe }}" class="left arrow">&#8592;</a>
  {%- endif %}
  <a href="#" class="top">Top</a>
  {% if page.lower -%}
  <a href="{{ page.lower.permalink | safe }}" class="right arrow">&#8594;</a>
  {%- endif %}
</section>
{% endblock content %}
